body{
  background-color: #8AAAE5;
  color: #2B3252;
  height: 50%;
  width: 100%;
}
img{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: auto;
  padding-top: 20px;
}
h1, h6, p{
  text-align: center;
}

h4{
  padding-left: 300pt;
}

#about{
  background: #2B3252;
  color: #FBEAEB;
  padding-bottom: 200px;
  height: 50%;
  width: 100%;
}

.links, #resume{
  color: #8AAAE5;
  text-decoration: none;
}

#resources{
  text-align: center;
  font-size: 36px;
}
a :hover, #resume:hover{
  color: white;
  text-decoration: none;
}
